/* 와이드 pc  */

	
.videoBox{width:100%;height:100%; display: flex; justify-content: center;  overflow:hidden; position:absolute}

#temp {
   position:absolute; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
  z-index:-100; /*다른요소보다 아래에 위치*/
}

#videoBG {
   position:absolute; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100; /*다른요소보다 아래에 위치*/
  
}

#imgBG{
	position:absolute; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100;
   display:none
}

.down{display: block; font-size: 20px; position: absolute; 
	  bottom: 20%; 
	animation:ani 1s infinite  alternate;}
@keyframes ani {
	0% { transform:scale(1); opacity:1; color:#fff;}
	100% { transform:scale(1.2); opacity:0.8; color:#888;}
}	
	
#content p {align-self: center; text-align: justify; font-size: 1.5vw;font-family: 'Silkscreen', cursive; line-height: 3.6rem ;transition: all 0.3s ease-out;}

#content{ width:93.75vw; margin:0 3.125vw;   }
#content h3{font-size: 2rem; line-height: 3.6rem; margin: 60px 0; padding-top:200px ; letter-spacing: 0.2rem;}
#content .about p{width: 43.75vw;}
#content ul {margin-top: 4%;}

#content .about {}
#content .about ul {margin-top: 0;}
#content .about ul li {}
#content .about ul li {background: #888; }

#content .about .ab_01 { margin-left:3.125vw; width: 46.875vw; display: flex; justify-content: space-between; }
#content .about .ab_01 li {width: 33%; }
#content .ab_01 li:nth-of-type(1) {background:url(../images/about_01.webp)0 0 no-repeat; background-size: contain; }
#content .ab_01 li:nth-of-type(2) {background:url(../images/about_02.webp) 0 0 no-repeat; background-size: contain; }
#content .ab_01 li:nth-of-type(3) {background:url(../images/about_03.webp)0 0 no-repeat; background-size: contain;; }


#content .about .ab_02 {margin-top: 3%; box-sizing: border-box; gap: 3.125vw; display: grid; grid-template-columns: 21.875vw 18.75vw 46.875vw; grid-template-rows: repeat(1, minmax(400px,auto)); }
#content .about .ab_02 li:nth-of-type(1) {background:url(../images/about_04.webp)50% 50% no-repeat; background-size: cover;;}
#content .about .ab_02 li:nth-of-type(2) {background:url(../images/about_05.webp)50% 50% no-repeat; background-size: cover;;}
#content .about .ab_02 li:nth-of-type(3) {background:url(../images/about_06.webp)left center no-repeat; background-size: cover;;}

#content span {display: flex;}


#content .cast .cast_grid { gap:2.08vw; display: grid; grid-template-columns: repeat(4, 21.875vw); grid-template-rows: repeat(1, 540px );}
#content .cast .cast_grid li { display: flex; flex-direction: column; justify-content: space-between; overflow: hidden; }
#content .cast .cast_grid li div {height: 64.8148%;}

#content .cast .cast_grid dl {height: 35.1852%; display: flex; flex-direction: column; justify-content: flex-end; align-items: center; text-align: justify;}
#content .cast .cast_grid dl dd {margin-top: 30px; font-family: 'Silkscreen', cursive; line-height: 2.5rem ; font-size: 1.2rem;}

#content .cast .cast_01 li:nth-of-type(1) div {background: url(../images/cast_01.webp)50% 50% no-repeat; background-size: cover;}
#content .cast .cast_01 li:nth-of-type(2) div {background: url(../images/cast_02.webp)50% 50% no-repeat; background-size: cover;}
#content .cast .cast_01 li:nth-of-type(3) div {background: url(../images/cast_03.webp)50% 50% no-repeat; background-size: cover;}
#content .cast .cast_01 li:nth-of-type(4) div {background: url(../images/cast_04.webp)50% 50% no-repeat; background-size: cover;}
#content .cast .cast_02 li:nth-of-type(1) div {background: url(../images/cast_05.webp)50% 50% no-repeat; background-size: cover;}
#content .cast .cast_02 li:nth-of-type(2) div {background: url(../images/cast_06.webp)50% 50% no-repeat; background-size: cover;}
#content .cast .cast_02 li:nth-of-type(3) div {background: url(../images/cast_07.webp)50% 50% no-repeat; background-size: cover;}
#content .cast .cast_02 li:nth-of-type(4) div {background: url(../images/cast_08.webp)50% 50% no-repeat; background-size: cover;}



#content .trailer {}

#content .trailer .trail_01 { height: 28.125vw ; display: grid; justify-content: space-between; grid-template-columns: 46.1vw 46.1vw; column-gap: 0vw; grid-auto-rows: minmax(100px, auto);}
#content .trailer .trail_01 div {margin-top: 3%; background: url(../images/trailer_01.webp) 50% 50% no-repeat; background-size: cover;}
#content .trailer .trail_02 {margin-top: 3%; height: 12.5vw ; display: grid; grid-template-columns: repeat(4, 1fr); column-gap: 1.5625vw ;grid-auto-rows: minmax(100px, auto); }
#content .trailer .trail_02 li {background-color: #876;}
#content .trailer .trail_02 li:nth-of-type(1) {background: url(../images/trailer_02.webp) 50% 50% no-repeat; background-size: cover;}
#content .trailer .trail_02 li:nth-of-type(2) {background: url(../images/trailer_03.webp) 50% 50% no-repeat; background-size: cover;}
#content .trailer .trail_02 li:nth-of-type(3) {background: url(../images/trailer_04.webp) 50% 50% no-repeat; background-size: cover;}
#content .trailer .trail_02 li:nth-of-type(4) {background: url(../images/trailer_05.webp) 50% 50% no-repeat; background-size: cover;}




#content .gallery {}
#content .gallery h3 {text-align: center;}

#content .gallery .gall_01 {
   display: grid; 
   gap: 1vw;
   grid-auto-rows: 18vw;
   grid-template-columns: repeat(5, 1fr);
   grid-template-areas: 
   "a a b c c"
   "a a e f d"
   "g h h h i"
   "j h h h i"
   ;}


   #content .gallery .gall_01 li {background-color: aquamarine; }
   #content .gallery .gall_01 li:nth-child(1) {grid-area: a; background: url(../images/gall_01.webp)50% 50% no-repeat; background-size: cover;}
   #content .gallery .gall_01 li:nth-child(2) {grid-area: b;background: url(../images/gall_02.webp)50% 50% no-repeat; background-size: cover;}
   #content .gallery .gall_01 li:nth-child(3) {grid-area: c;background: url(../images/gall_03.webp)50% 50% no-repeat; background-size: cover;}
   #content .gallery .gall_01 li:nth-child(4) {grid-area: d;background: url(../images/gall_04.webp)50% 50% no-repeat; background-size: cover;}
   #content .gallery .gall_01 li:nth-child(5) {grid-area: e;background: url(../images/gall_05.webp)50% 50% no-repeat; background-size: cover;}
   #content .gallery .gall_01 li:nth-child(6) {grid-area: f;background: url(../images/gall_06.webp)50% 50% no-repeat; background-size: cover;}
   #content .gallery .gall_01 li:nth-child(7) {grid-area: g;background: url(../images/gall_07.webp)50% 50% no-repeat; background-size: cover;}
   #content .gallery .gall_01 li:nth-child(8) {grid-area: h;background: url(../images/gall_08.webp)50% 50% no-repeat; background-size: cover;}
   #content .gallery .gall_01 li:nth-child(9) {grid-area: i;background: url(../images/gall_09.webp)50% 50% no-repeat; background-size: cover;}
   #content .gallery .gall_01 li:nth-child(10) {grid-area: j;background: url(../images/gall_10.webp)50% 50% no-repeat; background-size: cover;}
   #content .gallery .gall_01 li:nth-child(11) {grid-area: k;background: url(../images/gall_11.webp)50% 50% no-repeat; background-size: cover;}
   #content .gallery .gall_01 li:nth-child(12) {grid-area: l;background: url(../images/gall_12.webp)50% 50% no-repeat; background-size: cover;}
   #content .gallery .gall_01 li:nth-child(13) {grid-area: m;background: url(../images/gall_13.webp)50% 50% no-repeat; background-size: cover;}
   #content .gallery .gall_01 li:nth-child(14) {grid-area: n;background: url(../images/gall_14.webp)50% 50% no-repeat; background-size: cover;}
   #content .gallery .gall_01 li:nth-child(15) {grid-area: o;background: url(../images/gall_15.webp)50% 50% no-repeat; background-size: cover;}

   #content .gall_01 li:nth-child(n+11) {display: none;}


/* ^ 와이드 끝 */


/* 일반 pc */
@media screen and (max-width:1280px) {
   /* #content .about .ab_01 {justify-content: space-around;} */
   #content .about .ab_01 li:not(:nth-of-type(3))  {background-size: cover; width: 48%;}

   #content .about .ab_01 li:nth-of-type(3) {width: 0;  display: none;}
   #content p {font-size: 1.5rem; line-height: 2.5rem}
   #content .cast .cast_grid li:nth-of-type(3) {display: none;}
   #content .cast .cast_grid {  display: grid; grid-template-columns: 29.16vw 29.16vw 29.16vw 0px;  gap: 3.1vw;}

}


/* 태블릿 */
@media screen and (max-width:1024px) {
   #content .about .ab_02 {grid-template-columns: 1fr 0px 2fr; gap: 10px;}
   #content .about p{width: 140vw ; }
   #content p {font-size: 1.1rem; line-height: 2.7rem}
   #content .about .ab_01 li:not(.tablet) {width: 0; }
   #content .about .ab_01 li:first-child {width: 100%; }
   
   #content .cast .cast_grid {  display: grid; grid-template-columns: 43.75vw 43.75vw 0px 0px;  grid-template-rows: repeat(1, 540px ); gap: 6.25vw; justify-content: space-between;}
   #content .cast .cast_grid .del dl {display: none;}
   #content .trailer .trail_02 {grid-template-columns: repeat(3, 1fr);}
   #content .trailer .trail_02 li:nth-child(3) {display: none;}
   #content .trailer p {line-height: 1.7rem;}

   #content .gall_01 li:nth-child(n+11) {display: block;}
   #content .gall_01 li:nth-child(-n+7) {display: none;}


   #content .gallery .gall_01 {

      
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 
      "k k m"
      "k k o"
      "n n o"
      "h j j"
      ;}

}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
   #content .about p{width: 110vw ; }
}

/* 모바일 */
@media screen and (max-width:640px) {
   #content .trailer .trail_02 {height: 24.5vw;}

   #content .cast .cast_01 li:nth-of-type(1) div {background-position: left top;}
   #content .cast .cast_02 li:nth-of-type(1) div {background-position: left top;}

   #content .cast .cast_grid {  display: grid; grid-template-columns: 93.75vw ; gap: 0; grid-template-rows: repeat(1, 540px );}
   #content .cast .cast_grid li:not(:first-of-type) {display: none;}
	#content p.text{width: 93.75vw ;font-size: 1rem; line-height: 1.9rem;}
   #content .about .ab_01 {display: none; }
   #content .about .ab_02 {grid-template-columns: 0px 0px 2fr; gap: 0px;}


   #content .trailer .trail_01 {display: flex; flex-direction: column; height: 100%; width: 100%;}
   #content .trailer .trail_01 div { height: 300px;}
   #content .trailer .trail_02 {grid-template-columns: repeat(2, 1fr);}
   #content .trailer .trail_02 li:not(:nth-child(2n)) {display: none;}
   #content  h3 {text-align: center; font-size: 1.7rem;}

   #content .gall_01 li:nth-child(n+11) {display: block;}
   #content .gall_01 li:nth-child(-n+7) {display: none;}


   #content .gallery .gall_01 {

      
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "k k "
      "k k "
      "k k "

      "n o "
      "h o "
      ;}



   
}



