.visual {  position: relative; background:url(../images/sub1_visual.jpg) 30% 30% no-repeat; width: 100%; height: 200px;}


#content span{}
html #content h3 {font-size: 25px;}
#content .vision span, #content .strategy span{font-size: 15px;}
html #content p{ font-size: 15px; line-height: 40px; text-align: center; margin: 10% 0;}
#content strong{font-size: 20px; line-height: 70px; letter-spacing: 0.3em; font-weight: 300;}
#content img {border-radius: 10px;}
section {margin:0 3.125%;box-sizing: border-box;}

#content .mission .missionInner .missionBox{  width: 100%;   position: relative; }
#content .mission .missionInner .missionBox .missionLeft{width: 60%; ;height: 100%; float: left; position: absolute; left: 0;; bottom: 0; }
#content .mission .missionInner .missionBox .missionLeft h3{color: #fff; margin: 0; line-height: 0; position: absolute; top: 50%; left: 30%; text-align: center;}

#content .mission .missionInner .missionBox .missionRight{width: 40%; height: 100%; border-radius: 0 10px 10px 0; background: #043955;opacity: .5; position: absolute; right: 0; bottom: 0;}
#content .mission .missionInner .missionBox .missionRight>div{width: 54.1%; height: 60%;
                                                            position: absolute; border: 1px solid #fff; 
                                                             top: 20%;right: 22.5%;}
#content .missionTextbox{ display: flex; flex-direction: column; justify-content: space-around; color: #fff; width: 100%; height: 100%; text-align: center;}
#content .missionTextbox strong {line-height: 2.4rem; font-size: 1rem; }
#content .missionTextbox strong:nth-child(1) {letter-spacing: 0.09rem;}





#content .upline::before{content: '';width: 55px; height: 2px; background: #000; 
                        position: absolute; top: -100px;left: 550px;}
#content .upline{position: relative;}





#content .vision{}

#content .vision h3{position: absolute; top: 8%; text-align: center; width: 100%;}
#content .vision>div{border-radius: 10px; position: relative;  width: 100%; min-height: 740px;  background:url(../images/sub1_vision.jpg) 0 0 no-repeat}
#content .vision .visionInner{width: 60%;margin: 0 auto; position: absolute; left: 20%; top: 25%;}
#content .vision .visionInner>div{ color: #fff; width: 100%; position: relative;
    height: 390px;
    border: 1px solid #fff;}
    #content .vision .visionInner>div:nth-child(1) { background-color: #043955; opacity: 0.2; position: absolute; border: none; }
#content .vision span{ width: 100%; text-align: center; display: block; line-height: 30px; position: absolute; top: 60%;}
#content .vision span:nth-child(2) {top: 70%;}



#content .strategy {margin: 0; position: relative; }
#content .strategy h3{text-shadow: none;}
#content .strategy .strategyInner{ padding-bottom: 10%; height: 100%; position: relative; overflow: hidden;}
#content .strategy .strategyInner>div{}
#content .strategy .strategyInner ul{position: relative; justify-items: center; justify-content: space-between;grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr; display: grid;  width: 100%; margin-top: 40px; z-index: 2;  top: 0; }
#content .strategy .strategyInner ul li {width: 94%; max-width:390px;margin-bottom: 5%;}
#content .strategy .strategyInner ul li img{ width: 50%; }

#content .strategy .strategyInner ul li span{color: #000; display: block; text-align: center; margin-top: 5%;}
#content .strategy .strategyBackground>img {position: absolute;}
#footerArea {margin-top: 0;}
