.subNav ul li{width: 50%;}

.sub_faq{margin:0 3.125%;}
.sub_faq::after{content:''; display: block; clear: both;}
.sub_faq span{float:right; position:relative; background:#005793;}
.sub_faq span .all{display:block; position:relative; width: 160px; height: 42px; line-height: 42px; color:#fff; padding-left:1rem; box-sizing:border-box; /*background:url(../images/arrow_select_w.png) 90% 50% no-repeat;*/}
.sub_faq span .all::after{content:''; position:absolute; right: 1rem; top: 0; display:block; width: 13px; height: 42px; background:url(../images/arrow_select_w.png) 50% 50% no-repeat; background-size:100% auto; transition:transform .3s;}
.sub_faq span .all.on::after{transform:rotate(180deg);}

.sub_faq ul{float:left; width: 100%; border-top:2px solid #333; margin:1rem 0 0;}
.sub_faq ul li{border-bottom:1px solid #e5e5e5;}
.sub_faq ul li p{position:relative; text-align:justify; padding:0 0 0 2.25rem;}
.sub_faq ul li p::before{content:'Q'; position:absolute; left:1.15rem; top:0.75rem; font-size:1.35rem; font-weight:700; color:#005793;}
.sub_faq ul li p:nth-child(1) > a{display:block; padding:1rem 2.6rem 1rem 1rem; background:url(../images/navi_open.png) 97% 50% no-repeat; background-size:14px auto;}
.sub_faq ul li p:nth-child(2){padding:1rem 2.6rem 1rem 3.25rem; border-top:1px dotted #eee; background:#f8f8f8; display: none;}
.sub_faq ul li p:nth-child(2)::before{content:'A'; color:#999;}
.sub_faq ul li.on p:nth-child(1) > a{background-image:url(../images/navi_close.png);}